/* for glowing text
text-shadow: 0 0 10px #fff, 0 0 20px #fff; */

#logo{
    box-shadow: 2px 2px 12px 4px rgb(253, 253, 253);
    
}


span.absolute:after {
    content: '';
    left: 0;
    position: absolute;
    display: inline-block;
    height: 1em;
    width:100%;
    border-bottom: 2px solid white;
    margin-top: 0.75rem;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
  }
  
  span:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  @media only screen and (max-width: 1024px) {
    span:after {
      margin-top: 0.50rem;
    }
  }